---
---

.date
  color: #fff
  font-size: 32px

.block2
  margin-bottom: 100px

.progress .skillDescription
  font-size: 14px

.footer-social
  margin: 0
  padding: 0
  li
    list-style-type: none
    display: inline-block
    margin: 0px 15px 0px 0px
    a
      font-size: 30px
