body {
  color: #000;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2; }

.hero {
  background: #FE9E04; }
  .hero .row {
    max-width: 100%;
    width: 100%; }
    .hero .row .columns {
      padding: 0; }
  .hero .hero-image {
    height: 100%;
    background: url("../img/hero.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2; }
    @media (max-width: 640px) {
      .hero .hero-image {
        background-size: 100%; } }
  .hero .hero-content {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 40px; }
    @media (max-width: 640px) {
      .hero .hero-content {
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 20px 40px; } }
    .hero .hero-content h1 {
      color: #fff;
      font-weight: 800;
      font-size: 48px; }
      @media (max-width: 640px) {
        .hero .hero-content h1 {
          font-size: 40px; } }
    .hero .hero-content h3 {
      color: #000;
      font-weight: 800; }

.program {
  background: #63C6FF;
  padding: 50px 20px;
  position: relative;
  z-index: 1; }
  @media (min-width: 1024px) {
    .program:after {
      content: url("../img/angle-orange.png");
      position: absolute;
      top: -50px;
      right: 0; } }
  .program h2 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px; }

.students {
  background: #FE9E04;
  padding: 50px 20px;
  position: relative; }
  @media (min-width: 1024px) {
    .students:after {
      content: url("../img/angle-blue.png");
      position: absolute;
      top: -50px;
      left: 0; } }
  .students h2 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px; }

.video iframe {
  margin: 0;
  padding: 0; }
  @media (min-width: 640px) {
    .video iframe {
      min-height: 720px; } }
  @media (max-width: 640px) {
    .video iframe {
      min-height: 400px; } }

.together {
  margin-top: -10px;
  background: #63C6FF;
  padding: 50px 20px;
  position: relative;
  z-index: 1; }
  @media (min-width: 1024px) {
    .together:after {
      content: url("../img/angle-orange.png");
      position: absolute;
      top: -50px;
      right: 0; } }
  .together h2 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 64px; }
  .together p {
    font-size: 18px; }
  .together .together-box {
    border: 6px solid #fff;
    background: #FE9E04;
    padding: 20px;
    text-align: center;
    color: #fff; }
    .together .together-box h3 {
      font-weight: 800; }
    .together .together-box span {
      font-weight: 800;
      font-size: 28px;
      margin-bottom: 10px;
      display: block; }
    .together .together-box p {
      font-weight: 800; }

.team {
  padding: 50px 20px; }
  .team .large-10:nth-child(even) {
    clear: both; }
  .team .team-picture {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px; }
    @media (max-width: 640px) {
      .team .team-picture {
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center; } }
  .team .team-description {
    position: relative; }
    .team .team-description img {
      height: 20px;
      position: relative;
      left: -15px; }
      @media (max-width: 640px) {
        .team .team-description img {
          display: none; } }
    .team .team-description p {
      font-size: 18px; }
      @media (max-width: 640px) {
        .team .team-description p {
          text-align: center; } }
    .team .team-description h3 {
      font-weight: 800;
      font-size: 18px; }
      @media (max-width: 640px) {
        .team .team-description h3 {
          text-align: center; } }
