
      <footer style="padding:10px">
         <div class="container">
                <div class="row">
                  
                   <!-- <img src="images/ECFA_200x200.png" style="float:right; width:51px; margin-left:10px;" />
                    <a href="/index.asp" target="_blank">Home</a>
                    <span style="color:white !important"> | </span>
                    <a href="/sitemap.asp" target="_blank">Site Map</a>
                    <span style="color:white !important"> | </span>
                    <a href="/legal.asp" target="_blank">Legal</a>
                     <span style="color:white !important"> | </span>
                     <a href="/wca_jobs/careers.asp" target="_blank">Careers</a>
                     <span style="color:white !important"> | </span>
                     <a href="/about/contact.asp" target="_blank">Contact</a>
                     <span style="color:white !important"> | </span>
                     <a href="https://www.willowcreek.org/" target="_blank">Visit WCCC</a>
                     <span style="color:white !important"> | </span>
                      <a href="/about/bill_hybels.asp" target="_blank">Bill Hybels</a><br />
                     <a href="/events/leadership/resources_rsp.asp" target="_blank">Resources</a>
                     <span style="color:white !important"> | </span>
                     <a href="/events/leadership/siterequest_form_rsp.asp" target="_blank">Become a Host Site</a>
                     <span style="color:white !important"> | </span>
                     <a href="https://www.followthegls.com" target="_blank">Follow the GLS</a>
                     <span style="color:white !important"> | </span>
                     <a href="https://give.willowcreek.com" target="_blank">Give</a><br />
                     <p class="white">Willow Creek Association &bull; 67 E. Algonquin Road &bull; South Barrington, IL 60010 &bull; 800-570-9812
                     <br />-->
                     
                      Todos los derechos reservados &copy;2017
                      Willow Creek Association. Willow Creek Association es una organización sin fines de lucro 501(c)3.</p>
                </div>
            </div>
           
    </footer> <!-- / END FOOOTER  -->
    </section>



</div>

<!-- =========================
   FOOTER             
============================== -->



<!-- SCRIPTS -->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/lightbox.js"></script>
<script src="js/zerif.js"></script>

<script>
$(document).ready(function() {    

    $(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
        $(this).collapse('hide');
    }
    });





    $('.open-popup-link').magnificPopup({
      type:'ajax',    
      showCloseBtn: true,
      closeBtnInside: true  
    });

     $(".open-popup-link").click(function() {
             
            window.location.href = window.location.href + "#" + this.id;
        });


    $('.ajax-popup-link').magnificPopup({ 

              type: 'iframe'
     });
    $('.popup').magnificPopup({ 

              type: 'image'
     });


    var speaker = window.location.hash;
     var param = speaker.split('#'); 
     $('#'+param[param.length - 1]).click();



    $(".faqText" ).click(function() {
          var text =  $(this).text();
          if (text.indexOf("+") >= 0) {
            $(this).find("span").text('-');
          }
          else {
            $(this).find("span").text('+');
          }
        });

     $("#owl-example").owlCarousel({
         navigation : true, // Show next and prev buttons         
         items:4,
         autoPlay: 3000,         
        slideSpeed : 300,
        paginationSpeed : 400,        
        itemsDesktop : false,
        itemsDesktopSmall : false,
        itemsTablet: false,
        itemsMobile : false,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:3,
                nav:false
            },
            1000:{
                items:5,
                nav:true,
                loop:false
            }
        }
     });

     var owl = $("#owl-example");

     // Custom Navigation Events
    $(".owl-carousel-arrows .next").click(function() {
         owl.trigger('owl.next');
    });
    
    $(".owl-carousel-arrows .prev").click(function() {
         owl.trigger('owl.prev');
    });


    
    });

    

    // Send search to registration page.
    var onClickFindHostSite = function (me) {
        var targetHref= "https://register.willowcreek.com/#/reg/select?passedThroughSearch=";

        $(me).attr("href", targetHref + $('#search-host-site').val());

    }

    //button getting clicked by Enter key
    document.getElementById("search-host-site")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("find-button").click();
    }
    });

    $(".navbar-toggle").click(function() {
    $(".icon-bar").css("background-color","black");
    });


</script>
