<footer id="footer">
  <div class="container">
      <div class="row">
          <ul class="footer-social">
            <li><a href="mailto:cumbreglobaldeliderazgord@gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.facebook.com/cumbreglobalrd/"><i class="fa fa-facebook-official"></i></a></li>
            <li><a href="https://www.instagram.com/cumbreglobalrd/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/CumbreGlobalRD"><i class="fa fa-twitter"></i></a></li>
          </ul>
            <p>Copyright &copy;2016</p>
      </div>
  </div>
</footer><!--/footer-->



        <!-- End Section footer -->

       <script src="/js/vendor/jquery.easing.1.3.js"></script>
        <script src="/js/vendor/bootstrap.js"></script>

        <script src="/js/vendor/jquery.singlePageNav.min.js"></script>
        <script src="/js/vendor/wow.min.js"></script>
       <script src="/js/vendor/jquery.transit.js"></script>
        <script src="/js/vendor/jquery.jcountdown.js"></script>

        <script src="/js/vendor/owl.carousel.js"></script>
       <script src="/js/vendor/jquery.appear.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.js"></script>
       <script src="/js/vendor/jquery.quicksand.js"></script>
        <script src="/js/vendor/contact.js"></script>
       <script src="/js/vendor/jquery.ticker.js"></script>
        <script src="/js/vendor/jquery.mb.YTPlayer.js"></script>
        <script src="/js/vendor/jquery.nicescroll.js"></script>
        <script src="/js/vendor/lightbox.js"></script>
        <script>
        $(document).ready(function() {

        $(".faqFunction").click(function() {
            $(".faqFunction").css("background-color", "@color1");
            $(this).css("background-color", "#272727");
        });

        $("#faqSection").click(function() {
            $('html, body').animate({ scrollTop:$("#faqExpalantion").offset().top}, 500);
        });



          $(window).scroll(function() {
            if ($(document).scrollTop() > 130) {

              $(".textbelowLogo").hide();
            }

            else{

                 $(".textbelowLogo").show();

            }
          });

          $("#button .bt").click(function(){

             ($(".bt").text() === "Mostrar Horario") ? $(".bt").text("Esconder Horario") : $(".bt").text("Mostrar Horario");


          })

           jQuery("#button .bt").click(function(){
            jQuery("#button .bt").removeClass('activeClass');
            jQuery(this).toggleClass('activeClass');
          });
        });



        </script>

        <!-- jQuery REVOLUTION Slider  -->
      <script type="text/javascript" src="/js/vendor/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.themepunch.revolution.min.js"></script>

        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
                        (Load Extensions only on Local File Systems !
                        The following part can be removed on Server for On Demand Loading) -->
       <!-- <script type="text/javascript" src="js/vendor/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="js/vendor/extensions/revolution.extension.video.min.js"></script>-->

       <!-- <script type="text/javascript" src="js/vendor/jquery.scrollTo.js"></script>-->
        <!-- Customer Slider  -->
       <script src="/js/main.js"></script>
