<!-- =======================
=====     Header      ======
=========================-->
  <header id="header" class="header-all-time-top-fixed hidden-xs">
        <div class="header-body" id="header-body-fixed">
            <div id="container-fixed">
                <nav class="navbar navbar-default" role="navigation">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#multi-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <!--  <a href="index.html" class="header-logo hidden-sm hidden-xs"> <img src="img/bg/logo_main_2016.png">
                       </a> -->

                       <a href="index.html" class="header-body-fixed logo_phone hidden-lg hidden-md"><img src="img/bg/logo_main_2016.png"></a>
                        <a href="index.html" class="header-body-fixed hidden-sm hidden-xs"> <img src="img/bg/logo_main_2016.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse  navbar-right menu-item-6" id="multi-navbar-collapse-1" >

                     <ul class="nav navbar-nav" id="navbar-full">
                                   <li class="home">
                                        <a href="index.html#home" class="external" >Home</a>
                                    </li>
                                     <li class="about">
                                        <a href="index.html#about" class="external">About</a>
                                    </li>

                                    <li class="current faculty">
                                        <a href="index.html#faculty" class="external">Faculty</a>
                                    </li>

                                    <li class="videos">
                                        <a href="index.html#videos" class="external">Videos</a>
                                    </li>

                                    <li class="register">
                                        <a href="index.html#register" class="external">Register</a>
                                    </li>
                                    <li class="faq">
                                        <a href="index.html#faq" class="external">FAQ</a>
                                    </li>
                                     <li class="blank" style="visibility:hidden">
                                        <a href="index.html"></a>
                                    </li>
                                </ul>

                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </header>

    <header id="header" class="visible-xs hidden-lg hidden-md hidden-sm">
        <div class="full-screen-block">
            <div class="header-body" id="header-body-fixed">
                <div id="container-fixed">
                    <nav class="navbar navbar-default" role="navigation">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        <a href="index.html" class="header-body-fixed logo_phone hidden-lg hidden-md"><img src="img/bg/logo_main_2016.png"></a>
                        <a href="index.html" class="header-body-fixed hidden-sm hidden-xs"> <img src="img/bg/logo_main_2016.png"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" id="navbar-full">
                               <li class="home">
                                        <a href="index.html#home" class="external" >Home</a>
                                    </li>
                                     <li class="about">
                                        <a href="index.html#about" class="external">About</a>
                                    </li>

                                    <li class="current faculty">
                                        <a href="index.html#faculty" class="external">Faculty</a>
                                    </li>

                                    <li class="videos">
                                        <a href="index.html#videos" class="external">Videos</a>
                                    </li>

                                    <li class="register">
                                        <a href="index.html#register" class="external">Register</a>
                                    </li>
                                    <li class="faq">
                                        <a href="index.html#faq" class="external">FAQ</a>
                                    </li>
                                     <li class="blank-" style="visibility:hidden">
                                        <a href="index.html"></a>
                                    </li>
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- End header -->
