
<section>
  <div class="block color-scheme-1">
      <div class="container">
          <div class="section-title">
              <article class="section-title-body white">
                  <h1 class="head-title">Mas oradores</h1>
              </article>
          </div>
          <div id="owl-partners" class="owl-carousel owl-theme">
              <div class="">
                  <a href="Speaker-BillHybels.html" id="billHybels"><img  src="img/bg/speaker_bill_hybels_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Bill Hybels
                  <p>Fundador y Pastor Principal, Willow Creek Community Church</p> </span> </a>
              </div>
              <div class="">
                  <a href="Speaker-MelindaGates.html" id="melindaGates"><img src="img/bg/speaker_melinda_gates_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Melinda Gates
                  <p>Co-Directora, Bill & Melinda Gates Foundation </p> </span> </a>
              </div>
              <div class="">
                  <a href="Speaker-AlanMulally.html" id="alanMulally"><img src="img/bg/speaker_alan_mulally_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Alan Mulally
                  <p>Presidente y Director Ejecutivo, The Ford Motor Company (2006-2014) </p> </span> </a>
              </div>
              <div class="">
                  <a href="Speaker-BishopJakes.html" id="bishopJakes"><img src="img/bg/speaker_bishop_td_jakes_470x705.jpg" alt="" class="img-responsive">
                   <span class="center-block color-scheme-2 facultyCaptions">Bishop T.D. Jakes
                  <p>Fundador y Pastor Principal, The Potter’s House </p> </span></a>
              </div>
              <div class="">
                  <a href="Speaker-WilfredoDEJesus.html" id="wilfredoJesus"><img src="img/bg/speaker_wilfredo_de_jesus_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Wilfredo DE Jes&#250;s
                  <p>Pastor Principal, New Life Covenant Church; Líder Comunitario y Autor</p> </span></a>
              </div>
              <div class="">
                  <a href="Speaker-PatrickLencioni.html" id="patrickLencioni"><img  src="img/bg/speaker_patrick_lencioni_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Patrick Lencioni
                  <p>Autor Exitoso; Fundador de The Table Group</p> </span></a>
              </div>
              <div class="">
                  <a href="Speaker-ChrisMcchesney.html" id="chrisMcchesney"><img  src="img/bg/speaker_chris_mcchesney_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Chris Mcchesney
                  <p>Autor Exitoso; Ejecutivo en Franklin Covey</p> </span></a>
              </div>
               <div class="">
                  <a href="Speaker-DanielleStrickland.html" id="danielleStrickland"><img  src="img/bg/speaker_danielle_strickland_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Danielle Strickland
                  <p>Oficial en el Ejército de Salvación; Defensora y Autora</p> </span></a>
              </div>
               <div class="">
                  <a href="Speaker-JossyChacko.html" id="jossyChacko"><img src="img/bg/speaker_jossy_chacko_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">Jossy Chacko
                  <p>Fundador y Presidente, Empart Inc.</p> </span></a>
              </div>
               <div class="">
                  <a href="Speaker-JohnMaxwell.html" id="johnMaxwell"><img  src="img/bg/speaker_john_c_maxwell_470x705.jpg" alt="" class="img-responsive">
                  <span class="center-block color-scheme-2 facultyCaptions">John C. Maxwell
                  <p>Experto de Liderazgo; Autor Exitoso y Coach </p> </span></a>
              </div>
          </div>

      </div>
      </div>
</section>
