<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<!-- =======================
=====     Header      ======
=========================-->
    <header id="header">
        <div class="full-screen-block">
          <div class="header-body" id="header-body-fixed">
                <div id="container-fixed">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header ">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="index.html" class="header-logo hidden-sm hidden-xs"> <img class="" src="/img/logo.png">
                           </a>
                            <a href="index.html" class="header-body-fixed logo_phone hidden-lg hidden-md"><img src="/img/logo.png">
                            </a>
                      </div>
                       <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                            <ul class="nav navbar-nav navbar-right menu-item-6" id="navbar-full">

                                <li class="home">
                                    <span class="bg-icon">1</span>
                                    <span class="rotated-title">Inicio</span>
                                    <a href="index.html#home">Inicio</a>
                                </li>
                                  <li class="about">
                                    <span class="bg-icon">2</span>
                                    <span class="rotated-title">Sobre</span>
                                    <a href="index.html#about">Sobre</a>
                                </li>

                                <li class="faculty">
                                    <span class="bg-icon">3</span>
                                    <span class="rotated-title">Oradores</span>
                                    <a href="index.html#faculty">Oradores</a>
                                </li>
                                <li class="videos">
                                    <span class="bg-icon">4</span>
                                    <span class="rotated-title">Videos</span>
                                    <a href="index.html#videos">Videos</a>
                                </li>
                                <li class="register">
                                    <span class="bg-icon">5</span>
                                    <span class="rotated-title">Registrate</span>
                                    <a href="index.html#register">Registrate</a>
                                </li>
                                <!-- <li class="faq">
                                    <span class="bg-icon">6</span>
                                    <span class="rotated-title">FAQ</span>
                                    <a href="index.html#faq">FAQ</a>
                                </li> -->
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                   <div class="buttonSection" id="resizeButton" style="overflow-x:hidden !important; max-width:100% !important">
                      <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-lg-7 col-lg-offset-3 ">

                            <p class="date">Noviembre 18 y 19, 2016</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- End header -->

<!-- =======================
=====   Home section  ======
=========================-->

<section id="home">
   <div id="rev_slider_68_1_wrapper" class="rev_slider_wrapper fullscreen-container color-scheme-1" data-alias="scroll-effect76">
        <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
    <div id="rev_slider_68_1" class="rev_slider fullscreenbanner" data-version="5.0.7">
     <ul>
        <!-- SLIDE  -->
        <li data-index="rs-235" data-transition="slideoverhorizontal" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"    data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"  data-saveperformance="off"  data-title="Intro" data-description="" >
        <!-- MAIN IMAGE -->
       <img  src="/img/5.jpg"   alt=""  data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina >

      </li>

    </ul>
    <div class="section-block-title">
        <div class="section-title">
            <article class="section-title-body">
                <h1>Welcome</h1>
            </article>
        </div>
    </div>
    </div>
  </div>

  <!-- =======================
  =====  About section    ====
  =========================-->

  <section id="about" class="bg-non-fixed">
      <div class="bg-50-r"></div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="pad-l-45 pad-r-45">
                      <div class="section-block-title">
                          <div class="section-title">
                              <article class="section-title-body dark">
                                  <h1 class="head-title wow fadeInDown animated" id="mediaAbout" data-wow-duration="1.5s">Acerca de:</h1>
                                  <p class="head-text wow fadeInUp animated" id="mediaAbout" data-wow-duration="1.5s">
                                     La cumbre Global de Liderazgo es un experiencia en vivo con un material de entrenamiento en Video conferencia.  Este evento Emana del Campus de la Asociación Willow Creek, en los suburbios de Chicago, transmitiéndose simultáneamente en el mes de Agosto en cientos de localidades en Estados Unidos. La Cumbre Global de Liderazgo 2016, a través de eventos en videoconferencia, se llevaran a cabo a partir de Octubre hasta Marzo de 2017. 675+ Sitios,125 Países, 59 Idiomas.
                                  </p>
                              </article>
                          </div><!--/section-title-->
                      </div><!--/section-block-title-->

                  </div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <div class="pad-l-45 pad-r-45 block2">

                      <div class="widget-block">
                          <h4 class="widget-title">Razones para asistir</h4>
                          <p>
                              Se le presenta una gran cantidad de oportunidades para mejorar sus habilidades y desarrollar las personas que lideras. La Cumbre es una herramienta que se ha comprobado produce resultados convincentes para los líderes que asisten. <br><br>

                              <em>Una investigación independiente realizada por “Excellence in Giving” mostró.</em>


                          </p>
                      </div>
                      <div class="widget-block block3">
                          <div class="clearfix"></div>
                          <!-- Progress -->
                          <div class="progress">
                              <div class="progress-bar" data-value="83">
                              </div>
                              <span class="skill-value">TRABAJO EN EQUIPO</span>
                             <span class="skillDescription" >Los asistentes se sienten que mejoraron en el trabajo en equipo, una mayor satisfacción Laboral y la productividad en un <span> 83%</span></span>
                          </div>
                          <!-- / Progress Bar -->
                          <!-- Progress -->
                         <div class="progress">
                              <div class="progress-bar" data-value="61">

                              </div>
                              <span class="skill-value">EFICACIA</span>
                              <span class="skillDescription">El 61% de los asistentes dicen que su organización es más eficaz debido a la visión más clara. <span> 61%</span> </span>
                          </div>
                          <!-- / Progress Bar -->
                          <!-- Progress -->
                          <div class="progress">
                              <div class="progress-bar" data-value="87">

                              </div>
                              <span class="skill-value">IMPORTANCIA</span>
                              <span class="skillDescription">El 87% de los asistentes sienten un mayor sentido de importancia y satisfacción. <span> 87%</span></span>
                          </div>
                          <!-- / Progress Bar -->
                          <!-- Progress -->
                          <div class="progress">
                              <div class="progress-bar" data-value="81">

                              </div>
                              <span class="skill-value">MEJORES LIDERES </span>
                              <span class="skillDescription">El 81% de los asistentes citan formas concretas en las que su supervisor se ha convertido en un líder mejor. <span> 81%</span></span>
                          </div>
                          <!-- / Progress Bar -->
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>

 <!-- =======================
  =====  Faculty section    ====
  =========================-->
 <section id="faculty_header" class="bg-non-fixed block">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="section-block-title">
                <div class="section-title">
                  <article class="section-title-body">
                      <h1 class="head-title wow fadeInDown animated" data-wow-duration="1.5s">ORADORES</h1>
                  </article>
                </div>
             </div>
          </div>
      </div>
  </div>
  </section>

   <section class="block"  id="schedule">
      <div class="section-block-title">
        <div class="section-title">
          <article class="section-title-body">
               <div class="container-fluid">
                  <div class="row">
                      <!-- <div class="col-lg-3 col-lg-offset-3 col-md-6  col-sm-12 col-xs-12 " id="button">
                          <a class="wow fadeInUp animated customfontFaculty center-block text-center  btn-defaultDark activeClass bt" href="#faculty" data-wow-duration="1.5s" >FACULTY</a>
                      </div> -->
                      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-sm-12 col-xs-12 mb-30" id="button">
                          <a href="index.html#comingsoon" data-toggle="collapse"><span class="customfontFaculty center-block  text-center fa-inverse highlight1 bt">Mostrar Horario</span>  </a>
                      </div>

                  </div>
                  <div id="comingsoon" class="collapse"  style=" font-size: 20px; color:black">
                     <!--  <span class="wow fadeInDown animated text-center center-block" data-wow-duration="1.5s">Coming Soon</span> -->
                      <div class="container">
                      <div class="row">
                          <div class="col-lg-3 col-lg-offset-3" >
                              <a class="center-block text-center conditonsApply1 fa-inverse highlight1 " data-toggle="tab" href="index.html#day1" >Viernes<br>18/11/2016</a>
                          </div>
                          <div class="col-lg-3" id="button" >
                              <a class="center-block text-center conditonsApply1 fa-inverse highlight1 " data-toggle="tab" href="index.html#day2" >Sábado<br>19/11/2016</a>
                          </div>
                      </div>
                      <hr>
                        <div class="tab-content">
                          <div id="day1" class="tab-pane fade in">
                              <div class="row">
                                  <div class="col-xs-12">
                                    <h2 class="DayHeadings center-block text-center">Dia 1 Viernes 18</h2>
                                    <h3 class="center-block text-center">2:00pm - 9:00pm</h3>
                                    </div>
                              </div>
                              <hr>
                            <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 1</h3>
                                 <h4 class="center-block text-center">2:30pm - 4:15pm</h4>
                             </div>
                            </div>
                             <div class="row mb-30">
                               <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                 <img class="img-responsive"  src="/img/bg/speaker_bill_hybels_470x705.jpg" style="border:3px solid #1796db;">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-lg-5">
                                  <span class="scheduleHeadings">Bill Hybels
                                <!--   <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4></span> -->
                              </div>
                            </div>
                             <div class="row" style="background:#efefef;">
                              <div class="col-sm-12">
                              <div style="text-align:center; margin:5px; color:#999;"><strong>30 Min Coffee Break</strong></div>
                              </div>
                            </div>
                            <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 2</h3>
                                 <h4 class="center-block text-center">4:45pm - 6:30pm</h4>
                             </div>
                            </div>
                             <div class="row mb-30">
                               <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                 <img class="img-responsive"  src="/img/bg/speaker_alan_mulally_470x705.jpg" style="border:3px solid #db5338;">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-lg-5">
                                  <span class="scheduleHeadings" style="margin-top:0px">Alan Mulally
                                 <!--  <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4></span> -->
                              </div>
                            </div>
                            <hr>
                             <div class="row mb-30">
                               <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                 <img class="img-responsive"  src="/img/bg/speaker_melinda_gates_470x705.jpg" style="border:3px solid #dda63c; ">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-lg-5">
                                  <span class="scheduleHeadings" style="margin-top:0px">Melinda Gates
                               <!--    <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4></span> -->
                              </div>
                            </div>
                            <div class="row" style="background:#efefef;">
                              <div class="col-sm-12">
                              <div style="text-align:center; margin:5px; color:#999;"><strong>45 Min Break</strong></div>
                              </div>
                            </div>
                             <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 3</h3>
                                 <h4 class="center-block text-center">7:15pm - 9:00pm</h4>
                             </div>
                            </div>

                             <div class="row mb-30">
                               <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                 <img class="img-responsive"  src="/img/bg/speaker_jossy_chacko_470x705.jpg" style="border:3px solid #db5338;">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-lg-5">
                                  <span class="scheduleHeadings" style="margin-top:0px">Jossy Chacko
                                <!--   <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4></span> -->
                              </div>
                            </div>
                            <hr>
                            <div class="row mb-30">
                               <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                 <img class="img-responsive"  src="/img/bg/speaker_patrick_lencioni_470x705.jpg" style="border:3px solid #db5338;">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-lg-5">
                                  <span class="scheduleHeadings" style="margin-top:0px">Patrick Lencioni
                               <!--    <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4> --></span>
                              </div>
                            </div>
                            <hr>

                          </div>
                          <div id="day2" class="tab-pane fade">
                             <div class="row">
                                  <div class="col-xs-12">
                                    <h2 class="DayHeadings center-block text-center">Dia 2</h2>
                                    <h3 class="center-block text-center">9:00am - 4:45pm</h3>
                                    </div>
                              </div>
                              <hr>

                            <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 4</h3>
                                <h4 class="center-block text-center">9:00am - 10:15am</h4>
                             </div>
                            </div>

                            <div class="row mb-30">
                              <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                <img class="img-responsive"  src="/img/bg/speaker_bishop_td_jakes_470x705.jpg" style="border:3px solid #62ab9f;">
                             </div>
                             <div class="col-xs-8 col-sm-5 col-lg-5">
                                 <span class="scheduleHeadings" style="margin-top:0px">T.D. Jakes
                               <!--   <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4> --></span>
                             </div>
                           </div>

                            <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 5</h3>
                                 <h4 class="center-block text-center">10:45am - 12:15pm</h4>
                             </div>
                            </div>

                                <div class="row mb-30">
                                   <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                     <img class="img-responsive"  src="/img/bg/speaker_chris_mcchesney_470x705.jpg" style="border:3px solid #1a8bcd;">
                                  </div>
                                  <div class="col-xs-8 col-sm-5 col-lg-5">
                                      <span class="scheduleHeadings" style="margin-top:0px">Chris McChesney
                                     <!--  <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4> --></span>
                                  </div>
                                </div>

                                 <hr>



                            <div class="row" style="background:#efefef;">
                              <div class="col-sm-12">
                              <div style="text-align:center; margin:5px; color:#999;"><strong>30 Min Almuerzo</strong></div>
                              </div>
                            </div>
                             <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 6</h3>
                                 <h4 class="center-block text-center">1:45pm - 3:30pm</h4>
                             </div>
                            </div>

                             <div class="row mb-30">
                               <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                 <img class="img-responsive"  src="/img/bg/speaker_danielle_strickland_470x705.jpg" style="border:3px solid #62ab9f;">
                              </div>
                              <div class="col-xs-8 col-sm-5 col-lg-5">
                                  <span class="scheduleHeadings" style="margin-top:0px">Danielle Strickland
                                 <!--  <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4> --></span>
                              </div>
                            </div>

                              <div class="row mb-30">
                                 <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                   <img class="img-responsive"  src="/img/bg/speaker_wilfredo_de_jesus_470x705.jpg" style="border:3px solid #64233d;">
                                </div>
                                <div class="col-xs-8 col-sm-5 col-lg-5">
                                    <span class="scheduleHeadings" style="margin-top:0px">Wilfredo De Jes&#250;s
                                    <!-- <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4> --></span>
                                </div>
                              </div>

                              <hr>


                            <div class="row" style="background:#efefef;">
                              <div class="col-sm-12">
                              <div style="text-align:center; margin:5px; color:#999;"><strong>15 Min Break</strong></div>
                              </div>
                            </div>
                            <div class="row mb-30" >
                              <div class="col-xs-12">
                                <h3 class="center-block text-center">Sesión 7</h3>
                                 <h4 class="center-block text-center">3:45pm - 4:45pm</h4>
                             </div>
                            </div>

                                <div class="row mb-30">
                                   <div class="col-xs-4 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4" >
                                     <img class="img-responsive"  src="/img/bg/speaker_john_c_maxwell_470x705.jpg" style="border:3px solid #dda63c;">
                                  </div>
                                  <div class="col-xs-8 col-sm-5 col-lg-5">
                                      <span class="scheduleHeadings" style="margin-top:0px">John C.Maxwell
                                    <!--   <h4 style="margin-top:0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h4> --></span>
                                  </div>
                                </div>




                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </article>
        </div>
     </div>
  </section>

</section>

   <!-- =======================
  =====  Faculty Members section    ====
  =========================-->
   <section id="faculty">
       <div class="container-fluid">
          <div class="row mb-30">
              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 mb-30">
                <a href="/Speaker-BillHybels.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_bill_hybels_470x705.jpg" style="width:100%">
                 <div class="highlight" style="padding:0px 0px">
                  <img class="img-responsive  center-block" src="/img/bg/arrow_down_blue.png" style="width:100%" >
                  <div class="center-block highlight facultyCaptions">Bill Hybels
                  <p class="">Fundador y Pastor Principal, Willow Creek Community Church</p> </div>
                 </div>
                </a>
          </div>

              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30">
                <a href="/Speaker-MelindaGates.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_melinda_gates_470x705.jpg" style="width:100%" >
                <div class="highlight" style="padding:0px 0px;">
                  <img class="img-responsive center-block" src="/img/bg/arrow_down_gold.png" style="width:100%">
                  <span class="center-block highlight facultyCaptions">Melinda Gates
                  <p class="">Co-Directora, Bill & Melinda Gates Foundation</p> </span>
                </div>
                </a>
              </div>

              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30">
                <a href="/Speaker-AlanMulally.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_alan_mulally_470x705.jpg" style="width:100%" >
                 <div class="highlight" style="padding:0px 0px">
                  <img class="img-responsive center-block" src="/img/bg/arrow_down_orange.png" style="width:100%" >
                  <span class="center-block highlight facultyCaptions">Alan Mulally
                  <p>Presidente y Director Ejecutivo, The Ford Motor Company (2006-2014) </p> </span>
                </div>
                 </a>
              </div>

              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30">
                <a href="/Speaker-BishopJakes.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_bishop_td_jakes_470x705.jpg" style="width:100%" >
                 <div class="highlight" style="padding:0px 0px">
                  <img class="img-responsive center-block" src="/img/bg/arrow_down_green.png" style="width:100%">
                  <span class="center-block highlight facultyCaptions">Bishop T.D. Jakes
                  <p>Fundador y Pastor Principal, The Potter’s House</p> </span>
                 </div>
                 </a>
              </div>
          </div>

           <div class="row mb-30">

               <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-2 mb-30">
                 <a href="/Speaker-PatrickLencioni.html">
                 <img class="img-responsive center-block" src="/img/bg/speaker_patrick_lencioni_470x705.jpg" style="width:100%" >

                 <div class="highlight" style="padding:0px 0px">
                   <img class="img-responsive center-block" src="/img/bg/arrow_down_orange.png" style="width:100%" >
                   <span class="center-block  highlight facultyCaptions">Patrick Lencioni
                   <p>Autor Exitoso; Fundador de The Table Group</p> </span>
                </div>
                  </a>
               </div>

               <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30">
                 <a href="/Speaker-ChrisMcchesney.html">
                 <img class="img-responsive center-block" src="/img/bg/speaker_chris_mcchesney_470x705.jpg" style="width:100%" >

                 <div class="highlight" style="padding:0px 0px">
                   <img class="img-responsive center-block" src="/img/bg/arrow_down_blue.png" style="width:100%" >
                   <span class="center-block  highlight facultyCaptions">Chris Mcchesney
                   <p>Autor Exitoso; Ejecutivo en Franklin Covey</p> </span>
               </div>
                 </a>
               </div>

               <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30" >
                 <a href="/Speaker-DanielleStrickland.html">
                 <img class="img-responsive center-block" src="/img/bg/speaker_danielle_strickland_470x705.jpg" style="width:100%">

                 <div class="highlight" style="padding:0px 0px">
                   <img class="img-responsive center-block" src="/img/bg/arrow_down_green.png" style="width:100%" >
                   <span class="center-block  highlight facultyCaptions">Danielle Strickland
                   <p>Oficial en el Ejército de Salvación; Defensora y Autora </p> </span>
                </div>
                 </a>
               </div>


              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30">
                <a href="/Speaker-WilfredoDEJesus.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_wilfredo_de_jesus_470x705.jpg" style="width:100%" >

                <div class="highlight" style="padding:0px 0px">
                  <img class="img-responsive center-block" src="/img/bg/arrow_down_plum.png" style="width:100%" >
                  <span class="center-block highlight facultyCaptions">Wilfredo DE Jes&#250;s
                  <p>Pastor Principal, New Life Covenant Church; Líder Comunitario y Autor</p> </span>
                </div>
                </a>
              </div>
          </div>


           <div class="row mb-30">
              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4 mb-30">
                <a href="/Speaker-JossyChacko.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_jossy_chacko_470x705.jpg" style="width:100%">

                <div class="highlight" style="padding:0px 0px">
                  <img class="img-responsive center-block" src="/img/bg/arrow_down_orange.png" style="width:100%" >
                  <span class="center-block  highlight facultyCaptions">Jossy Chacko
                  <p>Fundador y Presidente, Empart Inc.</p> </span>
                  </div>
                </a>
              </div>

              <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0 mb-30" >
                <a href="/Speaker-JohnMaxwell.html">
                <img class="img-responsive center-block" src="/img/bg/speaker_john_c_maxwell_470x705.jpg" style="width:100%" >

                <div class="highlight" style="padding:0px 0px">
                  <img class="img-responsive center-block" src="/img/bg/arrow_down_gold.png" style="width:100%" >
                  <span class="center-block  highlight facultyCaptions">John C. Maxwell
                  <p>Experto de Liderazgo; Autor Exitoso y Coach</p> </span>
               </div>
                </a>
              </div>
          </div>
      </div>
  </section>

<!-- ===========================================
=====          Topics section               ====
============================================ -->
<section  id="services" class="light">
       <div class="section-block-title">
          <div class="section-title">
            <article class="section-title-body dark">
                <h1 class="head-title center-block" data-wow-duration="1.5s">TOPICOS</h1>
            </article>

            <article class="section-title-body dark">
            <span class="head-text text-center wow fadeInUp animated center-block" data-wow-duration="1.5s">
               Los oradores ofrecen una combinación única de visión, inspiración y destrezas prácticas <br> que puedes aplicar inmediatamente. Algunos de los temas* son:
            </span>
            </article>
          </div>
        </div>
        <div class="container">
            <div class="row mb-30">
                <div class="col-md-4 col-md-offset-0 col-sm-12">
                    <div class="block-feature-icon center dark">
                        <div class="">
                            <img class="img-responsive center-block circleEffect" src="/img/bg/icon_topic_bulb.png"
                             onmouseover="this.src='img/bg/icons_topic_bulb_2.png'"
                            onmouseout="this.src='img/bg/icon_topic_bulb.png'">
                        </div>
                        <div class="block-title">
                            <h4>Poniendo en práctica las ideas más trascendentes</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-12">
                    <div class="block-feature-icon center dark">
                        <div class="">
                           <img class="img-responsive  center-block circleEffect"src="/img/bg/icon_topic_group.png"
                            onmouseover="this.src='img/bg/icon_topic_group_2.png'"
                            onmouseout="this.src='img/bg/icon_topic_group.png'" >
                        </div>
                        <div class="block-title">
                            <h4>Las virtudes que aceleran el trabajo en equipo </h4>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-12">
                    <div class="block-feature-icon center dark">
                        <div class="">
                            <img class="img-responsive  center-block circleEffect"src="/img/bg/icon_topic_flags.png"
                            onmouseover="this.src='img/bg/icons_topic_flags_2.png'"
                            onmouseout="this.src='img/bg/icons_topic_flags.png'" >
                        </div>

                        <div class="block-title">
                            <h4>Cómo navegar eficazmente a través de las diferencias culturales </h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-0 col-sm-12">
                    <div class="block-feature-icon center dark">
                        <div class="">
                            <img class="img-responsive  center-block circleEffect"src="/img/bg/icon_topic_head.png"
                            onmouseover="this.src='img/bg/icon_topic_head_2.png'"
                            onmouseout="this.src='img/bg/icon_topic_head.png'">
                        </div>
                        <div class="block-title">
                            <h4>Cómo aprovechar el poder de la inteligencia emocional </h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-12">
                    <div class="block-feature-icon center dark">
                        <div class="">
                           <img class="img-responsive  center-block circleEffect"src="/img/bg/icon_topic_arrows.png"
                            onmouseover="this.src='img/bg/icon_topic_arrows_2.png'"
                            onmouseout="this.src='img/bg/icon_topic_arrows.png'" >
                        </div>
                        <div class="block-title">
                            <h4>Elementos de los cambios exitosos </h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-12">
                    <div class="block-feature-icon center dark">
                        <div class="">
                            <img class="img-responsive  center-block circleEffect"src="/img/bg/icon_topic_gears.png"
                            onmouseover="this.src='img/bg/icon_topic_gears_2.png'"
                            onmouseout="this.src='img/bg/icon_topic_gears.png'" >
                        </div>

                        <div class="block-title">
                            <h4>Edificando culturas que valoran la eficiencia</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

<!-- ===========================================
  =====          Videos section               ====
  ============================================ -->

   <section  id="videos" class="light">
      <!-- <div class="bg-light"></div> -->
      <div class="block">
          <div class="container">
              <div class="section-title">
                  <article class="section-title-body dark">
                      <h1 class="head-title">Videos</h1>
                  </article>
              </div>
              <div class="row as-banner">
                  <div class="col-md-6 col-sm-6">
                      <div class="portfolio-cell">
                          <div class="portfolio-item">
                              <div class="image-overlay">
                                  <a class="popup-youtube" href="/popup/2016_promo.html"></a>
                                  <div class="image-overlay-content">
                                      <h4>2016 PROMO</h4>
                                  </div>
                              </div>
                              <img src="/img/bg/video_summit_2015_highlights_sq_740x700.jpg" alt="image" class="img-responsive">

                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="portfolio-cell">
                          <div class="portfolio-item">
                              <div class="image-overlay">
                                  <a class="popup-youtube" href="/popup/2015_promo.html"></a>
                                  <div class="image-overlay-content">
                                      <h4>2015 PROMO</h4>
                                      <p>Ver</p>
                                  </div>
                              </div>
                              <img src="/img/bg/video_persist_sq_740x700.jpg" alt="image" class="img-responsive">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="portfolio-cell">
                          <div class="portfolio-item">
                              <div class="image-overlay">
                                  <a class="popup-youtube" href="/popup/testimonies.html"></a>
                                  <div class="image-overlay-content">
                                      <h4>Testimonios</h4>
                                      <p>Ver</p>
                                  </div>
                              </div>
                              <img src="/img/bg/WHO%20WE%20ARE.jpg" alt="image" class="img-responsive">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="portfolio-cell">
                          <div class="portfolio-item">
                              <div class="image-overlay">
                                  <a class="popup-youtube" href="/popup/impacto.html"></a>
                                  <div class="image-overlay-content">
                                      <h4>IMPACTO</h4>
                                      <p>Ver</p>
                                  </div>
                              </div>
                              <img src="/img/bg/TASTE%20OF%20THE%20SUMMIT.jpg" alt="image" class="img-responsive">
                          </div>

                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="portfolio-cell">
                          <div class="portfolio-item">
                              <div class="image-overlay">
                                  <a href="https://www.youtube.com/channel/UChRjCIEhOeHXWfvCkk9SuCw" target="_blank"></a>
                                  <div class="image-overlay-content">
                                      <h4>MÁS VIDEOS</h4>
                                  </div>
                              </div>
                              <img src="/img/mas.jpg" alt="image" class="img-responsive">
                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </section>

<!-- ===========================================
  =====          Register section               ====
  ============================================ -->
   <section id="register" class="bg-non-fixed color-scheme-1" style="overflow-x:hidden !important; max-width:100% !important">
   <div class="bg-50-l"  ></div>
      <div class="container-fluid ">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="pad-l-45 pad-r-45 block2">
                   <div class="row mb-30">

                   </div>
                  <!--
                   <div class="row mb-30">
                        <div class="col-xs-12 col-sm-12  col-md-3 col-lg-2 col-lg-offset-1" >
                          <img class="center-block" src="img/bg/icon_register_group.png">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" >
                          <span class="customfont fa-inverse center-block text-center">Team 10+</span>
                        </div>
                       <div class="hidden-xs hidden-sm hidden-md col-lg-2">
                         <div class="section-line wow fadeInUp animated" data-wow-duration="1.5s"></div>
                        </div>
                         <div class="col-xs-12 col-sm-12 col-md-2  col-lg-1">
                        <span class="customfont fa-inverse center-block text-center">$189</span>
                        </div>
                  </div>
                   -->
                    <div class="row block4">
                       <div class="col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 ">
                        <a  href="http://vende.club/pagoscumbre/" target="_blank"
                           class="customfont center-block text-center mb-30 btn-default white">Registrate
                      </a>
                      <br>
                       <p class="conditonsApply1 wow fadeInUp animated center-block text-center" data-wow-duration="1.5s">
                          ¿Prefieres regístrate por teléfono? &nbsp;&nbsp; Llama <br> 809-435-6559 <br> 809-688-6900 <br> 809-732-8053 <br>  809-709-4103 (whatsapp)<br>
                      </p>
                        </div>
                    </div>

                 </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                 <div class="pad-l-45 pad-r-45 block">
                      <div class="section-block-title">
                          <div class="section-title">
                              <article class="section-title-body">
                                 <span class="head-title center-block  text-center ">REGISTRATE</span>
                                   <p class="speakerText wow fadeInUp animated white text-center" data-wow-duration="1.5s">

                                  </p>
                              </article>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


    {% include footer.html %}

  </body>

</html>
