<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <!-- =========================
       PRE LOADER
    ============================== -->
     <div class="preloader">
      <div class="status">&nbsp;</div>
    </div>
    <!-- =========================
       HOME SECTION
    ============================== -->
    <header id="home" class="header">
        <div class="container">
            <img class="img-responsive hidden-xs col-sm-4 col-md-4 col-md-offset-4 pull-right img-2017" src="/images/backgrounds/2017.png">


            <div class="col-md-9 pad20 blue-back ht summit-block">
                <div class="col-md-12">
                    <p class="pull-left heading white mb15">La Cumbre Global de Liderazgo </p>
                    <h3 class="pull-left white mb15 blue-title">Noviembre 17 & 18, Santo Domingo</h3>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <p class="pull-left  white blue-title">Contenido de liderazgo fresco, aplicable e inspirador, provisto por una facultad de expositores del más alto nivel.       
                    </p>
                </div>
                <br>
                <br>
                <div class="clearfix"></div>
            </div>
            <img class="img-responsive visible-xs col-xs-5 img-2017-under" src="/images/backgrounds/2017.png">
        </div> <!-- / END BLUE BOX AT TOP -->

        <!-- NA BAR -->
        <div id="main-nav" class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header responsive-logo">
                    <div class="navbar-brand">
                    <a href="#">
                        <img style="height:45px" src="/images/logo-revise.png" class="logo" alt="Willowcreek Association">
                        <p style="color:white;font-size:14px;font-weight:600;line-height:23px;
        font-family: helvetica;">Noviembre 17 & 18, Santo Domingo</p>
                    </a>
                    </div>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>

                </div>
                <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list" >
                    <li><a href="#about">ACERCA DE</a></li>
                    <li><a href="#videos">VIDEOS</a></li>
                    <li><a href="#faculty">FACULTAD</a></li>
                    <li><a href="#locations">LOCATIONS</a></li>
                    <li class="m-top"><a href="#register" class="button white-btn">REGISTRATE</a></li>                                                
                </ul>
                </nav>
            </div>
        </div>
        <!-- / END NAV BAR -->
    </header> <!-- / END HOME SECTION  -->
<!-- =========================
   ABOUT SECTION      
============================== -->


<div class="about pad-30" id="about">
        
        <div class="container">            
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <p class="dark-text heading" style="visibility:hidden">Dos Días de Entrenamiento de Liderazgo de Clase Mundial. </p>
                    <p class="subhead black"><b>Tu tienes influencia. Únete a +400,000 personas para como maximizarla.
</b></p>
                    
                    <p class="dark-text heading mb10">Dos Días de Entrenamiento de Liderazgo de Clase Mundial. </p>

                    <ul class="bullets">
                        <li class="normal-text black mb15">Obtenga acceso exclusivo a los videos de la Cumbre en Santo Domingo</li>
                        <li class="normal-text black mb15" >Obtenga una mezcla única de visión, inspiración y habilidades prácticas que puede aplicar inmediatamente</li>
                        <li class="normal-text black mb15" >Aprenda de Bill Hybels y los diversos profesores del 2017</li>
                        <li class="normal-text black mb15" >Aproveche la Cumbre como un recurso para transformarse a sí mismo ya su comunidad</li>
                        <li class="normal-text black mb15" >Únete a personas de 128 países y 60 idiomas que asisten a la Cumbre en todo el mundo</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-7 pad-50">
                <p class="normal-text black mb15"><b>Asiste con tu equipo!</b></p>
                <a class="btn btn-primary col-md-9 white about-btn" href="#register" title="REGISTER NOW &amp; SAVE" target="_blank">REGISTRATE AHORA</a>
            </div>

        </div><!--end of container-->

        <!-- =========================
   VIDEOS       
============================== -->
        
        <section  id="videos" class="stats">
            <!--p class="dark-text heading" style="visibility:hidden">Two Days of World-Class Leadership Training </p>-->
            <div class="container">

            <div class="row">

                <div class="col-md-5 col-sm-10 col-xs-12 col-xs-offset-0 ">
                    <p class="subhead white"><b>Experimenta la experiencia de los </b></p>
                    <p class="white heading mb10" style="margin-bottom:30px">Videos de la cumbre</p>
                    <a class="ajax-popup-link" href="popup/2016_gls_kickoff.html">    
                        <img src="images/videos/vid_2017_summit_speaker_unveil.jpg" alt="image" class="img-responsive video-thumbnail ">
                        <div class="blue-back white width" >
                            <h5 class="white " style="padding-top:10px;padding-bottom:7px"><b>Revelando a los conferencistas de la cumbre 2017</b></h5>
                            <p class="white " style="padding-bottom:10px">Descubre quienes están hablando en la cumbre 2017 y como te pueden ayudar a crecer tu liderazgo.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-7 mb200 col-sm-10 col-xs-10">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="white normal-text mb25"><b>Otros videos de la cumbre global de liderazgo</b></p>
                    </div>

                    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2 mb15">
                        <a class="ajax-popup-link" href="popup/2015_gls_highlights.html">
                            <img src="images/videos/vid_marks_of_influence.jpg" class="img-responsive pull-left video-thumbnail-sm">
                            <div class="blue-back white pull-left width">
                                <h5 class="white mb15"><b>Marcas de Influencia</b></h5>
                                <p class="white" style="">Crece tu influencia en la Cumbre Global de Liderazgo.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2 mb15">
                        <a class="ajax-popup-link" href="popup/2016_wca_who_we_are.html">
                            <img src="images/videos/vid_who_we_are_2017.jpg" class="img-responsive pull-left video-thumbnail-sm">
                            <div class="blue-back white pull-left width">
                                <h5 class="white mb15"><b>Who We Are</b></h5>
                                <p class="white">Learn more about Willow Creek Association and our mission / vision.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2 mb15">
                        <a class="ajax-popup-link" href="popup/2016_testimonials.html">
                            <img src="images/videos/vid_summit_2016_highlights.jpg" class="img-responsive pull-left video-thumbnail-sm">
                            <div class="blue-back white pull-left width" >
                                <h5 class="white mb15"><b>2016 Summit Highlights</b></h5>
                                <p class="white">Watch highlights from the 2016 Summit.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </section>  <!-- / END SEPARATOR -->

    

        <section class="attend" id="works">
            <p class="dark-text heading" style="visibility:hidden">Two Days of World-Class Leadership Training </p>
            <div class="container">
                <!-- STATS -->
                <div class="row">
                    <div class="col-md-12">
                    <p class="subhead black"><b>Descubre que nuestros asistentes dicen sin</b></p>
                    <p class="dark-text heading mb10">Razones para asistir</p>
                    <p class="normal-text black mb15">Por mas de 20 años, la Cumbre ha demostrado que <b>produce sorprendentes resultados</b>* para los asistentes, incluyendo:</p>
                    </div>
                    <!-- START COLUMN -->
                    <div class="col-lg-3 col-sm-3">
                        <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">
                        
                            <div class="normal-text black" style="margin-bottom:5px;">
                                <b>TRABAJO EN EQUIPO</b>
                                <span class="pull-right black progress-number"><b>83%</b></span>
                            </div>
                            <div class="mb15 black-line">                    
                            </div>
                            <p class="normal-text black mb15">Los asistentes se sienten que mejoraron en el <b>trabajo en equipo, una mayor satisfacción Laboral y la productividad<b> en un 83%.</p>
                         </div>
                            
                        
                    </div> <!-- / END COLUMN -->
                    
                    <!-- START COLUMN -->
                    <div class="col-lg-3 col-sm-3">
                        <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">
                            <div class="normal-text black" style="margin-bottom:5px;">
                                <b>EFICACIA</b>
                                <span class="pull-right black progress-number"><b>61%</b></span>
                            </div>
                            <div class="mb15 black-line">                    
                            </div>
                            <p class="normal-text black mb15">El 61%de los asistentes dicen que su organización es más 
 <b>eficaz</b> debido a la <b>visión más clara.</b></p>
                        </div>
                        
                    </div> <!-- / END COLUMN -->
                    
                    <!-- START COLUMN -->
                    <div class="col-lg-3 col-sm-3">
                        <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">
                        
                            <div class="normal-text black" style="margin-bottom:5px;">
                                <b>IMPORTANCIA</b>
                                El<span class="pull-right black progress-number"><b>87%</b></span>
                            </div>
                            <div class="mb15 black-line">                    
                            </div>
                            <p class="normal-text black mb15">El 87% de los asistentes sienten un mayor 
<b>sentido de importancia y satisfacción</b> en sus vidas personales y profesionales.</p>
                         </div>
                            
                    </div> <!-- / END COLUMN -->
                    
                    <!-- START COLUMN -->
                    <div class="col-lg-3 col-sm-3">
                        <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">

                             <div class="normal-text black" style="margin-bottom:5px;">
                                <b>MEJORES LIDERES</b>
                                <span class="pull-right black progress-number"><b>81%</b></span>
                            </div>

                            <div class="mb15 black-line">    

                            </div>

                            <p class="normal-text black mb15">El 81% de los asistentes citan <b>formas concretas</b>  en las que su supervisor se ha <b>convertido en un líder mejor</b>.</p>
                         </div>
                        
                   
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                <small class="black pull-left">*Una investigación independiente realizada por <span style="position:relative;top:-2px"><i>“Excellence in Giving”</i></span>&nbsp; mostró estos resultados, basado en datos de asistentes recurrentes a la cumbre.</small>
            </div>
        </div>
        </section>  <!-- / END STATS -->

                    
    



        <section class="faculty" data-type="background" data-speed="1" id="faculty" >
            <p class="dark-text heading" style="visibility:hidden">Dos días de Entrenamiento en Liderazgo de Clase Mundial</p>
        <div class="color-overlay">
            <div class="container">
                <p class="dark-text heading " style="margin-bottom:0px">Conferencistas de Clase Mundial</p>    
            <!-- SECTION HEADER -->
                
                
                <!-- SECTION TITLE -->
                
                <p class="normal-text black mb15">Los expositores tan diversos de la Cumbre entregan una mezcla unica de vision, inspiración y las habilidades prácticas que puedes aplicar inmediatamente.</p>
                
                
            <!-- / END SECTION HEADER -->
                
                <!-- PRODUCTS -->
                <div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    
                     <!-- SINGLE PRODUCT -->
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Bill_Hybels.html"  class="open-popup-link" id="Bill_Hybels">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_bill_hybels.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">BILL <br/>HYBELS</p>
                                <p class="subdescription"><i>Fundador & Pastor Principal, Willow Creek Community Church</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->
                        

                        <!-- SINGLE PRODUCT -->
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Marcus_Buckingham.html"  class="open-popup-link" id="Marcus_Buckingham">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_marcus_buckingham-new.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">MARCUS <br>BUCKINGHAM</p>
                                <p class="subdescription"><i>Autor Exitoso; Fundador, The Marcus Buckingham Company</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->


                        <!-- /<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Bryan_Stevenson.html"  class="open-popup-link" id="Bryan_Stevenson">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_bryan_stevenson.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Bryan <br>Stevenson</p>
                                <p class="subdescription"><i>Founder & Executive Director, Equal Justice Initiative</i></p>
                                </div>                            
                            </a>
                            </div> <!-- / END FIRST ITEM -->


                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Andy_Stanley.html"  class="open-popup-link" id="Andy_Stanley">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_andy_stanley.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Andy <br>Stanley</p>
                                <p class="subdescription"><i>Autor de Liderazgo; Comunicador; Pastor</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->

                    </div> <!-- END FIRST ROW -->
                    
                    <div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <!-- SINGLE PRODUCT -->

                    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Laszlo_Bock.html"  class="open-popup-link" id="Laszlo_Bock">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_laszlo_bock.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Laszlo <br> Bock</p>
                                <p class="subdescription"><i>Asesor Principal, Google; Autor Exitoso</i></p>
                                </div>                            
                            </a>
                            </div> <!-- / END FIRST ITEM -->

                    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Immaculee-Ilibagiza.html"  class="open-popup-link" id="Immaculee-Ilibagiza">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_immaculee_ilibagiza.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Immaculée <br> Ilibagiza</p>
                                <p class="subdescription"><i>Promotora de la Paz y el Perdón; Autora Exitosa</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->

                        <!--<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Marcus_Lemonis.html"  class="open-popup-link" id="Marcus_Lemonis">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_marcus_lemonis.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Marcus <br> Lemonis</p>
                                <p class="subdescription"><i>Star of CNBC’s, The Profit; CEO of Camping World and Good Sam</i></p>
                                </div>                            
                            </a>
                        </div> --><!-- / END FIRST ITEM -->

                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Frederik_Haren.html"  class="open-popup-link" id="Juliet_Funt">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_fredrik_haren.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Fredrik <br> Härén</p>
                                <p class="subdescription"><i>Autor; Experto en Creatividad Empresarial.</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->

                        


                        

                </div> <!-- / END PRODUCTS LIST -->

                <div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">

                            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Sam_Adeyemi.html"  class="open-popup-link" id="Sam-Adeyemi">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_sam_adeyemi.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">SAM <br> ADEYEMI</p>
                                <p class="subdescription"><i>Fundador & Pastor Principal, Daystar Christian Centre en Nigeria</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->

                            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Gary_Haugen.html"  class="open-popup-link" id="Gary_Haugen">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_gary_haugen.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Gary <br>Haugen</p>
                                <p class="subdescription"><i>Fundador & Presidente, International Justice Mission</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->

                            <!-- SINGLE PRODUCT -->
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-angela_duckworth.html"  class="open-popup-link" id="Angela_Duckworth">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_angela_duckworth.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">ANGELA <br/>DUCKWORTH</p>
                                <p class="subdescription"><i>Profesora, Universidad de Pennsylvania; Autora Exitosa</i></p>
                                </div>                            
                            </a>
                        </div> <!-- / END FIRST ITEM -->
                

                        

                        
                </div> <!-- / END PRODUCTS LIST -->


                <div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    

                        <!-- SINGLE PRODUCT -->
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Sheryl_Sandberg.html"  class="open-popup-link" id="Sheryl_Sandberg">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_sheryl_sandberg.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Sheryl <br> Sandberg</p>
                                <p class="subdescription"><i>Directora Ejecutiva, Facebook</i></p>
                                <p class="subdescription" style="color: red; font-size: 10px;">(Disponible en el Kit Edición de Equipo)</p>
                                </div> 

                            </a>
                              
                        </div> <!-- / END FIRST ITEM -->

                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-0 mb25">
                            <a href="speaker/Speaker-Juliet_Funt.html"  class="open-popup-link" id="Juliet_Funt">
                                <img class="img-responsive center-block" src="images/products/faculty_2017_juliet_funt.jpg" style="width:100%">
                                <div class="">
                                <p class="blue heading-speaker">Juliet <br> Funt</p>
                                <p class="subdescription"><i>Presidenta Ejecutiva, Whitespace at Work</i></p>
                                </div>
                                 <p class="subdescription" style="color: red; font-size: 10px;">(Disponible en el Kit Edición de Equipo)</p>
                            </a>

                        </div> <!-- / END FIRST ITEM -->
                    
                </div> <!-- / END PRODUCTS LIST -->

                

            </div> <!-- / END CONTAINER -->
        </div> <!-- / END COLOR OVERLAY -->
        </section> <!-- / END PRODUCTS SECTION -->

<!-- =========================
   WORKS SECTION
============================== -->

        <section class="works">
            <p class="dark-text heading" style="visibility:hidden">Dos días de Entrenamiento en Liderazgo de Clase Mundial </p>
        <div class="container">

            <p class="subhead black"><b>Ve los que otros dicen</b></p>
            <p class="dark-text heading mb15">Testimonials</p>
            <div class="row">
                <div class="col-md-6 margin-phone">
                    <div class="col-md-3 mb15"><img src="images/Jeff_Van_Drunen.jpg" class="img-responsive center-block"></div>
                    <div class="col-md-9">
                        <p class="normal-text black mb10">"The 2-day Global Leadership Summit will hone and improve your leadership skills with fresh perspectives from world-class leaders. This year we will have more than 100 people from our organization attending the Summit."</p>
                        <p class="normal-text black mb15 "><b>- Jeff Van Drunen, President FutureCeuticals</b></p>
                    </div>
                </div>
                <div class="col-md-6 margin-phone">
                    <div class="col-md-3 mb15"><img src="images/Mitch_Barns.jpg" class="img-responsive center-block"></div>
                    <div class="col-md-9">
                        <p class="normal-text black mb10">"When I compare the Summit to all the other different leadership opportunities available to me, the Summit is the best. It's the best in terms of the quality, the experience and the people you get a chance to meet."</p>
                        <p class="normal-text black mb15"><b>- Mitch Barns, CEO of Nielsen</b></p>
                    </div>
                </div>
            </div>
            <div class="section-header"></div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-6 margin-phone">
                    <div class="col-md-3 mb15"><img src="images/Angela_Braly.jpg" class="img-responsive center-block"></div>
                    <div class="col-md-9">
                        <p class="normal-text black mb10">"The level of speakers and learning at the Summit is as good if not better than any business leadership conference I’ve been to. I encourage other leaders at all levels of their life and career to find out more about the Summit.”</p>
                        <p class="normal-text black mb15"><b>- Angela Braly, President The Braly Group</b></p>
                    </div>
                </div>
                <div class="col-md-6 margin-phone">
                    <div class="col-md-3 mb15"><img src="images/George_Cook.jpg" class="img-responsive center-block"></div>
                    <div class="col-md-9">
                        <p class="normal-text black mb10">"If the Summit can impact another person’s life who is in a leadership position, it can have a ripple effect on everyone they touch. We now have 350 people attending the Summit from our network."</p>
                        <p class="normal-text black mb15"><b>- George Cook, Senior Executive, Financial Services Firm</b></p>
                    </div>
                </div>
            </div>
            <div class="section-header" style="padding-bottom:40px !important"></div>
            
        </div> <!-- / END CONTAINER -->
        </section> <!-- / END WORKS SECTION -->
    {% include footer.html %}

  </body>

</html>
